env
.ipynb_checkpoints
node_modules
summary-of-business
rates
chirps_env
data.chc.ucsb.edu
downloaded_data
grid-data
grids
counties
deviation
payouts-*
payouts
state-data
OLD
data
data/outputs/monthly_averages_na_rm.csv
data/PRF_sob/raw_files
.Rproj.user
